.jumbotron{
	background-color: #548CAE;
	color: #D5DEF4;
	margin-top: 50px;
	margin-bottom: 0px
}
.colorBreadcrumb{
  background-color: #C0CBE7;
}
.footer{
	padding: 10px  10px 0px  10px;
	background-color: #212F3D;
  color: #EAECEE;
	margin-top: 10px;
	margin-bottom: 0px;
}

.body{
	background-color: #F2F3F4;
}


.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  background-color: #2471A3;
  width: 100%;
  border-radius: 0px; }

.imgAtt {
  width: 100%;
  height: 300px; }

.imgResizeCard {
  width: 100%;
  height: 100%; }

.tab-content {
  padding-top: 10px; }

.collapseMulti{
    padding: 10px  10px 0px  50px;
}

.centerTable{
  margin-left: auto;
  margin-right: auto;
}



